body {
    font-family: $muli-slab;
    letter-spacing: $muli-letter-spacing;
    color: $showtrove-imp-text;
}
h5 {
    font-family: $karla-slab;
    letter-spacing: $karla-letter-spacing;
    padding: 20px 0px 3px 0px;
  
    //text-decoration: underline $showtrove-primary-color;
}
h6{
    font-weight:600;
}
p.head{
    padding: 30px 0px 0px 0px;
    font-family: $karla-slab;
    letter-spacing: $karla-letter-spacing;
    
}
.showtrove-btn{
    border:0px;
        outline: 0px;
        background: $showtrove-primary-color;
        color: #fff;
        
        height: 46px;
        &:hover{
       
        box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);
       
        }

}
span.regular-text{
    font-size: 16px !important;
    font-weight:400;
    
}


.underline {
    width: 60px;
    height: 3px;
    background-color: $showtrove-primary-color;
   
}
label{
    font-weight: 700;
}
.form-group{
    margin-bottom: 45px;
}
//Navbar

.user-name {
    border:0px;
    outline:0px;
    margin:8px 20px 0px 5px;
    letter-spacing: $muli-letter-spacing;
    option{
        border:0px;
        outline:0px;
    }
   
}
// Sidebar

.sidebar{
    margin-top:10px;
    ul {
        list-style-type: none;
        li {
            margin-top: 25px;
        }
    }
}
.active-icon:hover{
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);
}
/*image upload box*/

.image-upload {
    width: 100%;
    height: 300px;
    border: dashed 1.5px #e5e5e5;

    margin-bottom: 40px;
    position: relative;
    text-align: center;
    color:$showtrove-imp-text;
    overflow: hidden
}

.item-wrapper form img {
    margin-bottom: 20px;
    width: auto;
    height: auto;
    max-height: 400px;
    width: auto;
    border-radius: 5px;
    overflow: hidden
}

.image-upload img {
    height: 100% !important;
    width: auto !important;
    border-radius: 0px;
    margin: 0 auto
}

.image-upload i {
    font-size: 5em;
    color:$background-color;
}

.image-upload input {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0
}

.item-wrapper input {
    height: 43px;
    line-height: 43px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px
}
p.upload{
font-family: $muli-slab;
left:$muli-letter-spacing ;
font-size: 28px;
font-weight:700;
}
.browse {
    color: $showtrove-primary-color;
}

/*image upload box*/


// right sidebar view
.right-sidebar {
    display: none;
    height: 100%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    right: 0;
    top: 0;
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);
    
}
.animate-right {
      position: relative;
      animation: animateright 0.4s;
  }
.right-sidebar .bar-item .icon{
      cursor: pointer;
      font-size: 20px;
      color: $showtrove-imp-text;
      font-weight: 100px;
  }
 
.sidebar-header{
      padding: 20px 25px 35px 20px;
}
.item-description{
    font-size: 16px;
    line-height:1.5;
    
}
.item-description-light{
    font-size: 16px;
    line-height:1.5;
    color: $showtrove-text;
   // background: $background-color;
}

// right sidebar view
//right sidebar edit
.custom-select {
    display: block;
    width: 50%;
    height: 50px;
    padding: 6px 10px 10px 8px;
    font-size: 16px;
    line-height: 1.5;
    color: $showtrove-text;
    background-color: #F9F9F9;
    margin-bottom: 30px;
    
    border: none;
    outline:0px;
}

.full-input{
    width: 100% !important;
  }
  .input-txt {
      display: inline;
      font-size: 14px;
      color: #e6cccc;
  }
  .custom-dropdown {
    text-align: left;
    display: block;
    width: 50%;
    height: 50px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571;
    color: $showtrove-imp-text;
    background-color:$background-color;
    border-radius: 4px;
    border: none;
}
// .form-group
// {
//     margin-bottom:2.2rem;
// }
.category-name-edit{
    margin-bottom: 20px;
}
.form-label{
    font-weight: 700;
}
.add-field{
    cursor: pointer;
    background: $showtrove-primary-color;
    font-size: 22px !important;
    padding-top: 12px;
    padding-left: 13px;
    color: #fff !important;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    
  }
//right sidebar edit

//Item Listing Table

.table {
margin-top: 10px;
background-color: $background-color;
height: 716px;


}
.display{
    background: #fff;
    .table-head{
        color:$showtrove-text;
        font-size: 12px;
        
    }
}
.item-name{
    color: $showtrove-primary-color;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: $showtrove-primary-color;
    cursor: pointer;
    }
}

// datatables
.category-listing .dt-buttons{
    display: none;
  
}

div.dt-buttons {
    position: relative;
    float: right !important;
    .dt-button{
    border:0px;
    outline: 0px;
    background: $showtrove-primary-color;
    color: #fff;
    &:hover{
        border:0px;
        outline: 0px;
        background: $showtrove-primary-color;
        color: #fff;
         box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);

    }
    &:focus{
        border:0px;
        outline: 0px;
        background: $showtrove-primary-color;
        color: #fff;
        box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);

   }
   &:active{
    border:0px;
    outline: 0px;
    background: $showtrove-primary-color;
    color: #fff;
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);

}
 
    }
    
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border:0px;
    outline: 0px;
    background:$showtrove-primary-color;
    color:#fff !important;
  
    &:hover {
        border:0px;
        outline: 0px;
        background: $showtrove-primary-color;
        color:#fff !important;

    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    color: $showtrove-imp-text !important;
    &:hover{
        color: #fff;
        background:$showtrove-primary-color;
        box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);
        border: none;
        outline: 0px;

    }
}

.mem-btn{
    cursor: pointer;
    line-height: 48px;
  }

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: right;
}
input[type="search"] {
    border:0px;
    outline:0px;;
    width:70%;
    //margin: 15px 0px 10px 0px;
    height: 38px;
    
    border-radius: 30px;
}

.yellow-icon {
    color: #54ED5A;
    font-size: 22px;
    margin: 0px 15px 0px 0px;
}
.edit-icon{
    color: $showtrove-imp-text;
    font-size: 20px;
    margin: 0px 0px 0px 15px;
}
.ban-icon{
    color: #F41111;
    font-size: 22px;
    margin: 0px 15px 0px 0px;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ffffff !important;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #ffffff !important;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #ffffff !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #ffffff !important;
}

// Category Listing
.mem-div-btn {
    text-align: end;
    margin-top: 20px;
}

// membership Listing
.price {
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    border-left: solid 5px $background-color;
}
.price-chart {
    background:$background-color;
    padding: 20px;
    margin: 20px;
}
.box-title{
    font-size: 30px;
    font-family: $muli-slab;
    letter-spacing: $muli-letter-spacing;

    font-weight: 500;
    display: inline-block;
}
.mem-price{
    font-size: 30px;
    font-family: $muli-slab;
    letter-spacing: $muli-letter-spacing;
    color:$showtrove-primary-color;
    font-weight: 500;  
    text-align: center;
    span{
    font-size: 14px;
    font-family: $muli-slab;
    letter-spacing: $muli-letter-spacing;
    color:$showtrove-imp-text;
    }
}
.price-chart ul {
   list-style-type: none;
   padding: 0px;
}
.price-chart ul span {
    /* font-family: Muli; */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 38px;
    letter-spacing: 1.5px;
    color:$showtrove-imp-text;
    margin-left: 10px;
}
.price-icon-check{
    float: right;
    color: #54ED5A;
    font-size: 22px !important;
    margin:0px 5px 0px 0px;
    cursor: pointer;
}
.price-icon-pencil{
    float: right;
    color: $showtrove-imp-text;
    font-size: 20px;
    margin: 0px 0px 0px 15px;
    cursor: pointer;
}
.price-icon-ban{
    float: right;
    color: #F41111;
    font-size: 22px !important;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}

//report-listing
.tabs{
    color:$showtrove-text;
    &:hover{
        color:$showtrove-imp-text;
    }
    
}
.nav-tabs .nav-link.active{
    color: $showtrove-primary-color;
    text-decoration: underline;
    text-decoration-color: $showtrove-primary-color;
}
.report-listing .dt-buttons{
    display: none;
  }
  .report-listing .dataTables_filter{
    display: none;
  }
.form-control .resolved{
color: #F41111;;
}

// Add css by aakash for add showmore line
.flex-parent {
  display: flex;
  width: 580px;
  height: 50px;
  align-items: center;
}
.flex-child-edge {
  flex-grow: 2;
  height:2px;
  background-color:$showtrove-primary-color;
  border: 1px $showtrove-primary-color solid;
}
.flex-child-text {
  flex-basis: auto;
  flex-grow: 0;
  margin: 0px;
  text-align: center;
}
.custom-bar {
    color:$showtrove-primary-color;
    border: 1.5px solid $showtrove-primary-color;
    padding:3px;
    border-radius: 40px;
    font-size: 15px !important;
}
.txt-bar {
    margin: 2px 25px 0px 0px;
}
.add-custom-btn{
  cursor: pointer;
  display: inline-block !important;
}
// Add css by aakash for add showmore line

// media queries

@media only screen and (max-width:960px) {
    .sidebar ul li {
        display: block;
        float: left;
        width: 20%;
        padding: 3px;
    } 
}






