
$karla-slab : 'Karla', sans-serif;
$muli-slab : 'Muli', sans-serif;
$showtrove-primary-color : #FF9933;
$showtrove-imp-text: #403838;
$showtrove-text : #a7a7a7;
$background-color :#f9f9f9;
$karla-letter-spacing : 6px;
$muli-letter-spacing : 1.5px; 